
@{
    ViewBag.Title = "FAQs";
}

<main>
    <h1>Enterprise IQ FAQ</h1>

    <h2>Adding/Removing a User for Access</h2>
    <p>Currently, adding or removing a user can be done through your IT Administrator. There are only two access types: "User" or "Admin". You will need to determine which level of access is appropriate to list in the request.</p>
    <ul>
        <li><strong>User Access:</strong> Allows logging in and interacting with chat functions which produce answers based on uploaded documents in the repository.</li>
        <li><strong>Admin Access:</strong> Includes chat functionality, the ability to upload or delete documents from the repository, change the logo in the upper left corner of the page, and view logs of previous activity under the admin section.</li>
    </ul>

    <h2>Supported Document Types</h2>
    <p>Currently, Enterprise IQ supports the following document types for uploading on the Admin section:</p>
    <ul>
        <li>PDF</li>
        <li>PNG</li>
        <li>.Docx</li>
        <li>JPEG</li>
        <li>.Doc</li>
    </ul>

    <h2>Document Management</h2>
    <p>An Admin on Enterprise IQ can only upload or delete documents from the platform. It's important to keep this in mind as information becomes irrelevant or outdated. If there's a newer version of a document, the previous version might need to be deleted and re-added with a title change to reflect that it's a previous version.</p>
    <h2>Changing Enterprise IQ Logo</h2>
    <p>On the home page of Enterprise IQ, there is a logo in the upper left corner. Admins can select this logo to move to another screen where a new logo can be uploaded. Only a .png file type will work for uploading a new logo. Once the file is chosen and uploaded, the updated logo will appear in the upper left corner of the portal.</p>
    <img src="~/Images/UploadLogo.png" />
    <h2>Changing the Color Theme for Enterprise IQ</h2>
    <p>Admin access allows changing the color theme for the entire application. To change the color scheme, go to the settings drop-down in the upper right corner and click on the cog icon. At the bottom of the drop-down is a colored bar, selecting it opens a window where a new color scheme can be selected for the application.</p>
    <img src="~/Images/Theme.png" /><br /><br />
    <h2>Changing Web Header Title</h2>
    <p>Admin can change the title by clicking on the Title in the header navigation bar.</p>
    <h2>Creating a Persona for Your AI Chat Sessions</h2>
    <p>Enterprise IQ is an AI-inspired and driven product. You can prompt your AI chat and tweak the generated responses. Your IT Administrator will need to upload these prompts and tailored responses. Be specific with how you want your AI sessions to sound and respond to inquiries.</p>

    <h2>Troubleshooting</h2>
    <ul>
        <li>If a user has issues with uploading documents, errors in responses from the chat, issues with customizing the application, or errors navigating around the application, please contact Coretek Service Desk at (866) 901-8201.</li>
        <li>If there are errors with accessing the application, logging in, or user access, please contact your IT Administrator to discuss these issues.</li>
    </ul>
</main>

